<!DOCTYPE html>
<html lang="en">
<head>
  <title>Ghost // <%= location %></title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.cycle/3.03/jquery.cycle.all.min.js"></script>
  <style type="text/css">
    body {
      position: relative;
      float: left;
      width: 100%;
    }
    .slideshow-container {
      /*position: fixed;*/
      /*width: 870px;*/
    }

    .slideshow {
      /*height: 510px;*/
      /*margin: 20px 0;*/
    }
    .slide {
      background-color: #FFF !important;
      /*width: 100% !important;*/
      /*height: 510px !important;*/
    }
    .prev {
      /*margin-left: -10px;*/
      /*margin-right: 10px;*/
    }
    .next,
    .prev {
      cursor: pointer;
      background-color: #e7e7e7;
      border: 2px solid #eee;
      height: 400px;
      /*margin-top: 60px;*/
    }

    .huge {
      font-size: 40px;
    }

    .prev span:before,
    .next span:before {
      font-size: 35px;
      padding: 10px;
      display: block;
      font-family: "FontAwesome";
      margin-top: 165px;
      display: block;
    }

    .prev span:before {
      content:"\f0d9";
    }
    .next span:before {
      content:"\f0da";
    }

    .list-group-item {
      word-wrap: break-word;
    }

    .list-group-item.checked .check-mark:after {
      color: #23e343;
    }
    .list-group-item .check-mark {
      word-wrap: break-word;
      width: 95%;
      display: block;
    }
    .list-group-item .check-mark:after {
      content:"\f00c";
      font-family: "FontAwesome";
      color: #ccc;
      position: absolute;
      right: 10px;
      bottom: 10px;
    }
    .checked a {
      color: #000;
    }
    .threshold {
      color: red;
    }
    .compare {
      cursor: pointer;
      margin-left: 20px;
    }

    .compare:before {
      font-family: "FontAwesome";
      content:"\f0c5";
      font-size: 30px;
    }
    .compare-modal {
      position:fixed;
      margin:0;
      top:0;
      left:0;
      width: 100%;
      height: 100%;
      background:rgba(0,0,0,0.7);
      overflow: scroll;
      z-index: 1000;
    }
    .compare-container {
      padding-bottom: 300px;
      z-index: 1000;
      margin-top: 20px;
      text-align: center;
    }
    .compare-container img{
      margin-right: 20px;
      max-width: 30%;
    }
  </style>
  <script type="text/javascript">
    $(function() {
      $('.slideshow').cycle({
        fx:     'fade',
        speed:  200,
        prev:   '.prev',
        next:   '.next',
        before: function (curr, next, opts) {
          $('.active').removeClass('active');
          var path = $(next).find('.path').attr('name');
          $.each($('.list-group .list-group-item'), function() {
            if ($(this).attr('href').substring(1) == path) {
              $(this).addClass('checked');
              $(this).addClass('active');
            }
          })
        },
        timeout: 0
      });

      $('.list-group .list-group-item').unbind().on('click', function(){
        var href = $(this).attr('href').substring(1);

        $('.slideshow').cycle($('.slide.'+href+':first').index());
      });

      $('.shot').unbind().on('click', function(e){
        e.preventDefault();
        var url = $(this).attr('href');
        window.open(url,'_blank');
      });

      // Compare button
      $('.compare').unbind().on('click', function(){
        var slide = $(this).closest(".slide"),
            newImage = slide.find('a.shot:eq(0)').attr('href'),
            oldImage = slide.find('a.shot:eq(1)').attr('href'),
            diffImage = slide.find('a.shot:eq(2)').attr('href');
        $('.container').append('<div class="compare-modal"><div class="compare-container"><img src="'+newImage+'"/><img src="'+oldImage+'"/><img src="'+diffImage+'"/></div></div>');
        $('.compare-modal').unbind().on('click', function(){
          $(this).remove();
        })
      });

      // Round Diff
      var $badge = $('.list-group-item .badge');
      $($badge).each(function( index ) {
        var diffNumber = parseInt($(this).text());
        $(this).text(Math.round(diffNumber) + '%');
      });

    })
  </script>

</head>
<body>
  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-12">
        <div class="page-header">
          <h1>List of screenshots for <small><%= location %></small></h1>
        </div>
      </div>
    </div>

    <div class="page-header">
      <img src="http://www.wmdb.de/Assets/Images/logo-wmdb-systems_pos.svg" alt="WMDB Systems">
      <h4><small>taken <%= Time.now.strftime('%Y/%m/%d %H:%M:%S') %></small></h4>
    </div>

    <!-- Status panels begin -->
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-files-o fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge">26</div>
                <h5>Total Pages</h5>
              </div>
            </div>
          </div>
          <a href="#">
            <div class="panel-footer">
              <span class="pull-left">View Details</span>
              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="panel panel-success">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-check fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge">12</div>
                <h5>Success!</h5>
              </div>
            </div>
          </div>
          <a href="#">
            <div class="panel-footer">
              <span class="pull-left">View Details</span>
              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="panel panel-warning">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-info fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge">124</div>
                <h5>Warning!</h5>
              </div>
            </div>
          </div>
          <a href="#">
            <div class="panel-footer">
              <span class="pull-left">View Details</span>
              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="panel panel-danger">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-times fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge">13</div>
                <h5>Failed!</h5>
              </div>
            </div>
          </div>
          <a href="#">
            <div class="panel-footer">
              <span class="pull-left">View Details</span>
              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <!-- Status panels end -->


    <div class="row">
      <!-- Pages -->
      <div class="col-sm-12 col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Pages</h3>
          </div>

          <div class="list-group">
            <% directories.each do |dir, sizes| %>
            <% sizes.to_a.sort.each do |size, files| %>

            <% if files[:data] > threshold %>
            <a class="list-group-item list-group-item-danger" href="#<%=path%><%=dir%>">
              <span class="badge"><%=files[:data]%>%</span>
              <span class="check-mark"></span>
              <span class="glyphicon glyphicon-remove" aria-hidden="true"> <%=dir.gsub('__', '/')%> <small>(<%=size%>px)</small></span>
            </a>
            <% else %>
            <% if files[:data] < threshold and files[:data] != 0 %>
            <a class="list-group-item list-group-item-warning" href="#<%=path%><%=dir%>">
              <span class="badge"><%=files[:data]%>%</span>
              <span class="check-mark"></span>
              <span class="glyphicon glyphicon-minus" aria-hidden="true"> <%=dir.gsub('__', '/')%> <small>(<%=size%>px)</small></span>
            </a>
            <% else %>
            <a class="list-group-item list-group-item-success" href="#<%=path%><%=dir%>">
              <span class="badge"><%=files[:data]%>%</span>
              <span class="check-mark"></span>
              <span class="glyphicon glyphicon-ok" aria-hidden="true"> <%=dir.gsub('__', '/')%> <small>(<%=size%>px)</small></span>
            </a>
            <% end %>
            <% end %>

            <% end %>
            <% end %>
          </div>

        </div>
      </div>

      <!-- Images -->
      <div class="col-sm-12 col-md-4">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Screenshot</h3>
          </div>
          <div class="panel-body">

            <div class="slideshow-container">

              <div class="prev col-sm-1"><span></span></div>

              <div class="slideshow pull-left col-sm-10">
                <% directories.each do |dir, sizes| %>
                <% sizes.to_a.sort.each do |size, files| %>

                <div class="row slide <%= dir %>">

                  <div class="difference col-sm-12">
                    <h4>
                      Screenshot
                      <% if files[:data] > threshold %>
                      <span class="label label-danger">FAILED</span>
                      <% else %>
                      <% if files[:data] < threshold and files[:data] != 0 %>
                      <span class="label label-warning">WARNING</span>
                      <% else %>
                      <span class="label label-success">PASSING</span>
                      <% end %>
                      <% end %>
                      <span class="label label-default"><%=files[:data]%>% CHANGE</span>
                      <span class="compare"></span>
                    </h4>
                  </div>

                  <a class="path" name="<%= dir %>"></a>

                  <% files[:variants].each do |file| %>
                  <div class="col-sm-4">
                    <a class="shot" href="<%=file[:filename]%>">
                      <img class="short-screenshot img-thumbnail img-responsive" src="<%=path%><%=file[:thumb]%>">
                    </a>
                    <p class="text-center"><a target="_blank" href="<%=file[:url]%>"><%=file[:name]%></a></p>
                  </div>
                  <% end %>
                  <div class="col-sm-4">
                    <% if files[:diff] %>
                    <a class="shot" href="<%=files[:diff][:filename]%>">
                      <img class="short-screenshot img-thumbnail img-responsive" src="<%=path%><%=files[:diff][:thumb]%>">
                    </a>
                    <% end %>
                    <p class="text-center">diff</p>
                  </div>

                  <div class="col-sm-1">
                    <p><%=size%>px <small><%= dir.gsub('__', '/') %></small></p>
                  </div>

                </div>
                <% end %>
                <% end %>
              </div>

              <div class="next col-sm-1"><span></span></div>

            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</body>
</html>
